.form{
    border: 2px solid black;
    padding: 10px;
    margin: 10px;
    width: 400px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

input{
    padding: 5px;
    margin: 10px;
}

button{
    padding: 5px;
    margin: 10px;
    width: 80%;
    height: 15%;
    border-radius: 8px;
    background-color: tomato;
}

h1{
    text-align: center;
    margin: 10px;
    font-size: large;
    font-weight: bold;
}

.input{
    border: 2px solid black;
    padding: 5px;
    margin: 10px;
    width: 80%;
    height: 15%;
    border-radius: 8px;
}

button:hover{
    background-color: red;
}